#logo {
  display: flex;
  margin-top: 100px;
}

.container {
  height: 100vh;
  /* display: flex; */
  align-items: center;
  margin-left: 100px;
  background-color: white;
}

.image-container {
  margin-top: 50px;
  text-align: center;
  margin-left: 150px;
  margin-right: 10px;
}
.logo-text {
  font-weight: bold;
  white-space: nowrap;
  margin-top: 5px;
  font-size: 30px;
}
.image-text {
  font-size: 15px;
  /* white-space: nowrap; */
}

form {
  background-color: #598fc5;
  padding: 20px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

h2 {
  margin-bottom: 20px;
}

/* .btn-block {
  background-color: white;
  margin-top: 20px;
} */

.center-button {
  display: flex;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
}
